/* Presets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Mega', sans-serif;
}

.calculator-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(236, 236, 236);
}

/* Page Title */
.title {
  height: 15vh;
  font-size: 45px;
  text-align: center;
  line-height: 15vh;
}

/* Calculator */
.container {
  height: 75vh;
  width: 29.7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(63, 63, 63);
  margin-top: 2vh;
  padding: 1vh;
  box-shadow: 9px 7px rgb(173, 173, 173);
}

.display {
  height: 20vh;
  width: 29vw;
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: end;
  background-color: rgb(230, 230, 230);
  border: 2px solid rgb(44, 48, 51);
  cursor: default;
}

.current-input {
  font-size: 40px;
}

.previous-input {
  font-size: 30px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 55vh;
  width: 29vw;
}

.buttons button {
  border: 2px solid rgb(44, 48, 51);
  font-size: 30px;
  outline: none;
  cursor: pointer;
}

[data-number] {
  background-color: rgb(218, 218, 218);
}

[data-operator] {
  background-color: rgb(255, 200, 137);
}

[data-equal] {
  background-color: rgb(130, 240, 130);
}

[data-all-clear] {
  grid-column-start: 1;
  grid-column-end: 3;
}

[data-clear] {
  grid-column-start: 3;
  grid-column-end: 5;
}

[data-all-clear],
[data-clear] {
  background-color: rgb(255, 163, 163);
}

/* Buttons hover */
[data-number]:hover {
  background-color: rgb(255, 255, 255);
}

[data-operator]:hover {
  background-color: rgb(255, 166, 64);
}

[data-equal]:hover {
  background-color: rgb(60, 255, 60);
}

[data-all-clear]:hover,
[data-clear]:hover {
  background-color: rgb(255, 119, 119);
}

/* Footer */
footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 2vh;
  left: 0px;
  right: 0px;
  padding-left: 20px;
  padding-right: 30px;
  align-items: center;
}

.github-link:hover {
  transition: transform 1s;
  transform: rotateY(360deg);
  transform-style: preserve-3d;
}

/* Media Queries */
@media (max-width: 800px) {
  .container {
    width: 40.8vw;
  }

  .display {
    width: 40vw;
  }

  .buttons {
    width: 40vw;
  }

  footer {
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .container {
    width: 66vw;
    margin-top: 0;
    box-shadow: 6px 5px rgb(173, 173, 173);
  }

  .display {
    width: 65vw;
  }

  .buttons {
    width: 65vw;
  }

  footer {
    font-size: 10px;
  }
}
